@import "mixins";

.main {
  position: relative;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 1024px) {
    //flex-wrap: wrap;
  }

  &-description {
    @include adaptiv-margin-bottom(40, 15);
    &__title {
      @include adaptiv-font(40, 24);
      font-weight: 700;
      @include adaptiv-margin-bottom(20, 10)
    }
    &__text {
      @include adaptiv-margin-bottom(20, 10)
    }
    &__text_left {
      @include adaptiv-margin-bottom(20, 10);
      text-align: left;
    }
  }
  &__notification
  {
    font-size: 50px;
    height: max-content;
    @include adaptiv-margin-top(30, 10);
    @include adaptiv-margin-bottom(40, 10);
    text-align:center;
  }
  .gold{
    color: #FFBB0E;
    padding: 0 5px;
  }

  .pin-spacer {
    z-index: 2 !important;
  }

  .container-webgl {
    position: relative;
    z-index: 3;
    @media screen and (max-width: 1024px) {
      overflow-y: hidden;
    }
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    text-align: center;
    margin-bottom: 60px;
    //@include adaptiv-margin-bottom(16, 8);
      //padding-left: calc(53vh + 20px);
    @media screen and (max-width: 1024px) {
      justify-content: center;
    }
  }



  .container3d {
    flex-shrink: 0;
    flex-grow: 0;
    position: fixed;
    @include adaptiv-top(120, 80);
    left: 0;
    overflow: hidden;
    width: 53vh;
    height: 80vh;
    min-height: 50vh;
    z-index: 2;
    border-radius: 18px;
    border: 4px solid #09B224;
    @include adaptiv-margin-bottom(40, 20);
    //@media screen and (max-width: 1024px) {
    //  width: 90vw;
    //  height: 90vw;
    //  min-height: 90vw;
    //}

    .title-container {
      background: linear-gradient(to bottom, rgba(0,0,0,.7) , transparent 70%) no-repeat center/ 100% 110%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: left;
      z-index: 2;
      @include adaptiv-padding(40, 20);
      .main-title {
        font-weight: 600;
        @include adaptiv-font(34, 18);
        margin: 0;
        text-align: left;
        span {
          font-weight: 300;
        }
      }
      .user-name {
        @include adaptiv-font(34, 18);
        font-weight: 400;
        margin: 0;
      }
      .avatar {
        position: absolute;
        @include adaptiv-top(40, 20);
        @include adaptiv-right(40, 20);
        @include adaptiv-size(100, 50);
        object-fit: cover;
      }
    }

    .container3d-footer {
      background: linear-gradient(to top, rgba(0,0,0,.7) 0%, transparent 70%) no-repeat center/ 100% 110%;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      //padding: 33px 40px;
      @include adaptiv-padding(40, 20);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .switch-mode__container,
    .full-screen__container {
      position: relative;
      @include adaptiv-size(70, 40);
    }
    .switch-mode,
    .full-screen {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      @include adaptiv-size(70, 40);
      transition: .4s;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
        & span {
          background-color: white;
        }
      }

    }
    .switch-mode {
      background: url("https://arweave.net/IhKJ0AatVeIgLedcQgpOAQ8gosYP1m7kiNFH06bVZwQ") no-repeat center/cover;

    }
    .full-screen {
      background: url("https://arweave.net/r1xZBYdXC7aarwtqqbgl6eAuVjsHs6TTyQmBsh9ne4Y") no-repeat center/cover;

    }
    canvas {
      position: relative;
      z-index: 1;
    }
  }
  .instructions {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    &__title {
      font-weight: 700;
      flex-shrink: 0;
      width: 100%;
      @include adaptiv-margin-bottom(20, 10)
    }
    &__text {
      box-sizing: border-box;
      display: inline-block;
      width: 49%;
      //min-width: 300px;
      @include adaptiv-padding(30, 15);
      padding-top: 0;
      margin-bottom: auto;
    }
  }
  .mint {
    position: relative;
    z-index: 1;
    &__title {
      @include adaptiv-margin-bottom(20, 10)
    }
    input[type='text'],
    input[type='text']:focus,
    input[type='text']:active {
      display: block;
      background-color: transparent;
      margin: 0 auto;
      @include adaptiv-margin-bottom(20, 10);

      outline: none;
      @include adaptiv-width(450, 225);
      @include adaptiv-height(36, 36);
      border: #09B224 2px solid;
      @include adaptiv-border-radius(80, 40);

      color: #006637;

    }

    &__description {
      @include adaptiv-margin-bottom(20, 10);
    }

    &__sum {
      @include adaptiv-margin-bottom(20, 10);
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0;
      text-align: center;
    }

    &__submit {
      display: block;
      cursor: pointer;
      margin: 0 auto;
      color: #061903;
      outline: none;
      background-color: #09B224;
      @include adaptiv-font(36, 12);
      font-weight: 700;
      @include adaptiv-line-height(40, 20);
      letter-spacing: 0;
      text-align: center;
      border: #09B224 2px solid;
      @include adaptiv-border-radius(80, 40);
      @include adaptiv-margin-bottom(40, 20);
      width: auto;
      max-width: 95%;
      min-width: 150px;
      padding: 10px 20px;
    }

  }

  .referral {
    text-align: center;
    &__description {
      @include adaptiv-margin-bottom(20, 10);
    }
    &__link {
      cursor: text;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 65%;
      margin-right: 14%;
      @media screen and (max-width: 1024px) {
        margin-right: 0;
      }
      border: #09B224 2px solid;
      @include adaptiv-border-radius(24, 12);
      @include adaptiv-height(48, 24);
      @include adaptiv-line-height(48, 24);
      @include adaptiv-margin-bottom(20, 10);
    }
    &__link-copy {
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      border: #09B224 2px solid;
      @include adaptiv-border-radius(24, 12);
      @include adaptiv-height(48, 24);
      @include adaptiv-line-height(48, 24);
      @include adaptiv-margin-bottom(20, 10);
    }
    &__sum {
      font-weight: 700;
      border: #09B224 4px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      //white-space: nowrap;
      @include adaptiv-font(24, 10);
      @include adaptiv-border-radius(24, 12);
      //@include adaptiv-height(84, 42);
      //@include adaptiv-line-height(84, 42);
      @include adaptiv-margin-bottom(20, 10);
      img {
        display: inline-block;
        object-fit: cover;
        @include adaptiv-width(43, 21);
        @include adaptiv-height(47, 23);
        @include adaptiv-margin-left(40, 10)
      }
    }
  }
  .phrase {
    display: none;
  }
}

#wait{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #061903;
  position: fixed;
  z-index: 150;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2{
    width: max-content;
    margin: 0 auto;
    transform: translate(0,50%);
    margin-bottom: 20px;
  }
}