{% load static %}
<!doctype html>
<html lang="ru-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magic Ball</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/main.1d9a0908.css' %}">
</head>
<body>
  <div class="container-main_text">
    <h1>Conditions for creating</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies nisi nec eleifend hendrerit. Nam quis ligula eget quam auctor dictum ut id dui. Morbi in libero accumsan quam consequat lacinia. Quisque eget ex turpis. Suspendisse rhoncus massa odio, in blandit turpis faucibus nec. Aliquam quis semper purus. Proin fermentum sapien et risus tristique, at mollis ex consequat. Suspendisse eget urna sit amet diam scelerisque imperdiet. Aliquam est enim, consequat vel tristique nec, ornare id mauris.</p>
  </div>
  
</body>
</html>