{% load static %}
<!doctype html>
<html lang="ru-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magic Ball</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/main.689c397b.css' %}">
</head>
<body>
  <div class="creating">
    <div class="creating_content">
      <h1>Conditions for creating
      </h1>
      <p>
        The main requirement for selecting a visual image is the absence of graphic and textual information that offends or defames anyone's feelings, moral and ethical principles, or any other shit.
      </p>
      <p>
        It is hereby stated that the author of the Azagnat token undertakes not to use prohibited symbols, pornography, hateful slogans, and other obscenities.
      </p>
      <p>
        It is hereby stated that the author of Azagnat token takes full responsibility for the visual image of the token.
      </p>
      <p>
        The author of the token is aware that in case of violation of these terms and conditions, the token can be changed without prior notice to the holder, and shall pay a fine in the amount of the value of the changed token.
      </p>

    <div class="clemo">No bullshit</div>
  </div>
  </div>
  
</body>
</html>