{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Magic Ball</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="{% static 'assets/explorer/style.min.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
	<script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<h1>Non-fungible Magic Ball</h1>
			<div id="TgBack">></div>
		</header>
		<main class="width">
			<div id="shop">
				<div id="shop_load" class="load"><i class="bi bi-arrow-repeat"></i></div>
				<div class="notFoundItem width" id="shop_notFound" style="display:none ;">
					<p>Azagnat’s were not found in your wallet.</p>
					<p>You can mint the Magic Ball <br /> on the website: <a href='https://azagnat.art'
							class='link_underline'>azagnat.art</a></p>
				</div> <template id="template_NFT_item">
					<div class="NFT_item">
						<picture>
							<source srcset="https://arweave.net/fZpv225Ubj9iwUOV4mGgg-_HZ1uG3mmrogP0rPzU0bY?ext=png" type="image/webp">
							<img class="tg_send" src="https://arweave.net/fZpv225Ubj9iwUOV4mGgg-_HZ1uG3mmrogP0rPzU0bY?ext=png" alt="NFT">
						</picture>
						<div class="NFT_item_info">
							<div class="button button_open">
								<p>Open</p> <i class="bi bi-box-arrow-up-right"></i>
							</div>
							<div class="button button_cat" onclick="window.location = `https://explorer.solana.com`;">
								<svg width="46" height="43" viewBox="0 0 46 43" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M7.85082 32.8305C8.12595 32.494 8.49566 32.3047 8.88256 32.3047H44.6926C45.346 32.3047 45.6727 33.2722 45.2084 33.8295L38.1324 42.4737C37.8573 42.8102 37.4876 42.9995 37.1007 42.9995H1.29927C0.645831 42.9995 0.319113 42.032 0.783396 41.4747L7.85082 32.8305Z"
										fill="url(#paint0_linear_1522_320)" />
									<path
										d="M7.85082 0.525801C8.12595 0.189288 8.49566 0 8.88256 0H44.6926C45.346 0 45.6727 0.967474 45.2084 1.52482L38.1324 10.169C37.8573 10.5055 37.4876 10.6948 37.1007 10.6948H1.29927C0.645831 10.6948 0.319113 9.72732 0.783396 9.16997L7.85082 0.525801Z"
										fill="url(#paint1_linear_1522_320)" />
									<path
										d="M38.1324 16.5737C37.8573 16.2371 37.4876 16.0479 37.1007 16.0479H1.29927C0.645831 16.0479 0.319113 17.0153 0.783396 17.5727L7.85942 26.2168C8.13455 26.5534 8.50426 26.7426 8.89116 26.7426H44.7012C45.3546 26.7426 45.6813 25.7752 45.217 25.2178L38.1324 16.5737Z"
										fill="url(#paint2_linear_1522_320)" />
									<defs>
										<linearGradient id="paint0_linear_1522_320" x1="41.2735" y1="-5.16569"
											x2="7.76148" y2="47.3148" gradientUnits="userSpaceOnUse">
											<stop stop-color="#00FFA3" />
											<stop offset="1" stop-color="#DC1FFF" />
										</linearGradient>
										<linearGradient id="paint1_linear_1522_320" x1="30.4378" y1="-12.0844"
											x2="-3.07421" y2="40.3961" gradientUnits="userSpaceOnUse">
											<stop stop-color="#00FFA3" />
											<stop offset="1" stop-color="#DC1FFF" />
										</linearGradient>
										<linearGradient id="paint2_linear_1522_320" x1="35.8211" y1="-8.6464"
											x2="2.30915" y2="43.8341" gradientUnits="userSpaceOnUse">
											<stop stop-color="#00FFA3" />
											<stop offset="1" stop-color="#DC1FFF" />
										</linearGradient>
									</defs>
								</svg> </div>
							<div class="button button_info _popup-link"> <i class="bi bi-three-dots-vertical"></i>
							</div>
						</div>
					</div>
				</template>
				<div class="modal" id="modalNft" onClick='document.querySelector("#modalNft").style.display="none"'
					style="display:none ;">
					<div class="modal-dialog width">
						<div class="modal_nft">
							<div class="modal_nft_img">
								<picture>
									<source srcset="" type="image/webp"><img src="">
								</picture></img>
							</div>
							<div>
								<h2>Properties</h2>
								<div class="modal_nft_properties">
									<div class="modal_nft_properti">
										<p class="tittle"></p>
										<p class="text"></p>
									</div>
								</div>
							</div>
							<div class="button button_inf"
								onClick='document.querySelector("#modalNft").style.display="none"'>
								CLOSE
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
		</footer>
	</div>
	<script src="{% static 'assets/explorer/vendors.min.js' %}"></script>
	<script src="{% static 'assets/explorer/app.min.js' %}"></script>
	<script src="https://unpkg.com/@solana/web3.js@1.29.2/lib/index.iife.min.js"></script>
	<script>
		async function getpublic() {
			const app_url = 'https://azagnat.art/';
			const redirect_link = 'https://azagnat.art/explorer/';
			const keypair = solanaWeb3.Keypair.generate();
			const rez = await fetch(`https://phantom.app/ul/v1/connect?app_url=${app_url}&dapp_encryption_public_key=${keypair.publicKey}&redirect_link=${redirect_link}`);
		}
		window.addEventListener('load', function(){
			getpublic();
		})
	</script>
</body>

</html>