{% load static %}
<!doctype html>
<html lang="ru-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magic Ball</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script type="module" crossorigin src="{% static 'assets/main.c363845d.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/main.4a5f77ed.css' %}">
</head>
<body>
<header class="header">
    <img src="{% static 'img/solana_logo.svg' %}" alt="solana logo" class="header-logo">
    <div class="header-texts">
        <h1 class="header-title">AZAGNAT</h1>
        <p class="header-subtitle description">
            Non-fungible Magic Ball
        </p>
    </div>
    <div class="header-info">
        <img src="{% static 'img/WalletON.svg' %}" alt="Wallet" class="header-wallet">
    </div>
</header>
<div class="container-main">
    <main class="main">
        <div class="main-description">
            <h3 class="main-description__title">Hello stranger!</h3>
            <p class="main-description__text_left description">
                In front of you, on the left, is my most unique creation, the Azagnat! An immersive, non-fungible Magic Ball! And I am its creator, my name is Jerome, and I am a leprechaun.
                <br><br>
                Let's get to know each other!
                <br><br>
                I live in Ireland. I'm over 700 years old. And I used to be a dwarf, no different from my tribesmen. I worked very hard. In our mines, I was a mineral scientist. And then one day my wife left me. Then I was very much upset, worried, started smoking a lot, drinking strong drinks, addicted to poitín. I was promiscuous. All this ended when one of my former lab assistants brought me samples of a very strange breed. And I went back to work. After the most complicated experiments and research, it turned out that this rock is older than the world. It is simultaneously in all meta-universes, and somehow is able to mentally connect with the one who possesses this breed. This is how my Azagnat was born. He connects with my consciousness, and if I ask him a question, he will gather information from all meta-universes and give the best, most correct and appropriate answer for the time. And he can also say something at any moment that he thinks is best suited to that moment.
                <br><br>
                More and more I am convinced that my Azagnat has a consciousness of his own!
                <br><br>
                You too can become the owner of a totally unique Magic Ball.
                <br><br>
                Fill in the mandatory parameters in order to link your consciousnesses. And remember that Azagnat will only start working if you pay for it with a coin. The more expensive the coin, the stronger the Tsaheylu!

            </p>
            <p class="main-description__text description">
                Now let's start setting up the parameters of your future token.
            </p>
        </div>
        <form action="!#">
            <div class="container-webgl">
                <div class="container3d">
                    <div class="title-container">
                        <h1 class="main-title">AZAGNAT</h1>
                        <p class="user-name"></p>
                        <img class="avatar" src="{% static 'img/avatar.svg' %}" alt="avatar">
                    </div>
                    <div class="container3d-footer">
                        <div class="switch-mode__container">
                            <div class="switch-mode"></div>
                        </div>
                        <div class="full-screen__container">
                            <div class="full-screen"></div>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-container">
                        <h3 class="menu__title">This data is required</h3>
                        <fieldset class="user-data">
                            <div class="user-data__container">
                                <label>
                                    Name
                                    <input class="text" min="5" type="text" placeholder="input name">
                                    <sub>min 5 symbols (like Jerome)</sub>
                                </label>
                                <label class="date-label">
                                    Date of Birth
                                    <input class="date-label-pic" type="date" placeholder="00 month 0000">
                                    <span class="air-picker"></span>
                                    <sub>Leprechauns live up to 1000 years</sub>
                                </label>
                                <label>
                                    Gender
                                    <select class="hide gender-input">
                                        <option value="0">Man</option>
                                        <option value="1">Woman</option>
                                    </select>

                                    <div class="f-select">
                                        <div class="f-select-container f-select-container__gender">
                                            <div class="f-select-option placeholder"><span>specify gender</span></div>
                                            <div class="f-select-option">Man</div>
                                            <div class="f-select-option">Woman</div>
                                        </div>
                                    </div>
                                    <sub>*who saw the leprechaun's wife?</sub>
                                </label>
                                <label>
                                    Avatar
                                    <input type='file' id="uploadBannerImage"/>
                                    <span class="input text">select image</span>
                                    <sub>max 300kb, size 512x512 px</sub>
                                </label>
                                <label class="text">
                                    Language
                                    <select class="hide lang">
                                        <option value="0">English</option>
                                        <option value="1">Russian</option>
                                    </select>
                                    <div class="f-select">
                                        <div class="f-select-container f-select-container__language">
                                            <div class="f-select-option placeholder"><span>English/Russian</span></div>
                                            <div class="f-select-option">English</div>
                                            <div class="f-select-option">Russian</div>
                                        </div>
                                    </div>
                                    <sub>Leprechaun speak Shelta</sub>
                                </label>
                            </div>
                        </fieldset>
                        <fieldset class="ball-settings">
                            <h3 class="ball-settings__title">Premium data <span>(+SOL)</span></h3>
                            <div class="ball-settings__container">
                                <label class="active">
                                    Body model
                                    <select class="body-type hide"></select>
                                    <div class="f-select">
                                        <div class="f-select-container f-select-container__body-type">
                                            <div class="f-select-option placeholder">Ostan</div>
                                        </div>
                                    </div>
                                </label>
                                <div class="sol text">+ <span>0.00</span> SOL</div>
                                <div class="addOption"></div>
                            </div>
                            <div class="ball-settings__container ball-settings__container--body-color">
                                <label class="active">
                                    Body view
                                    <select class="body-color hide">
                                        <option value="0">Default</option>
                                        <option value="1">Custom color</option>
                                        <option value="2">Custom image</option>
                                        <option value="3">Select image</option>
                                        <option value="4">Material</option>
                                    </select>
                                    <div class="f-select ">
                                        <div class="f-select-container f-select-container__body-color">
                                            <div class="f-select-option placeholder">Default</div>
                                            <div class="f-select-option">Default</div>
                                            <div class="f-select-option">Custom color</div>
                                            <div class="f-select-option">Custom image</div>
                                            <div class="f-select-option">Select image</div>
                                            <div class="f-select-option">Material</div>
                                        </div>
                                    </div>
                                </label>
                                <div class="sol text">+ <span>0.00</span> SOL</div>
                                <div class="addOption body-color-add"></div>
                            </div>
                            <div class="ball-settings__container metalness-conyainer">
                                <label class="active metalness-lb">
                                    Metalness
                                    <input class="metalness styled-slider slider-progress" type="range" min="0" max="1"
                                           step=".01" value="0">
                                </label>

                                <label class="active">
                                    Roughness
                                    <input class="roughness styled-slider slider-progress" type="range" min="0" max="1"
                                           step=".01" value="0">
                                </label>
                            </div>
                            <div class="ball-settings__container">

                                <label class="active">
                                    Background
                                    <select class="background-settings hide">
                                        <option value="0">Default</option>
                                        <option value="1">Single color</option>
                                        <option value="2">Linear gradient</option>
                                        <option value="3">Radial gradient</option>
                                        <option value="4">Custom image</option>
                                        <option value="5">Select image</option>
                                    </select>
                                    <div class="f-select">
                                        <div class="f-select-container f-select-container__background-color">
                                            <div class="f-select-option placeholder"><span>Default</span></div>
                                            <div class="f-select-option">Default</div>
                                            <div class="f-select-option">Single color</div>
                                            <div class="f-select-option">Linear gradient</div>
                                            <div class="f-select-option">Radial gradient</div>
                                            <div class="f-select-option">Custom image</div>
                                            <div class="f-select-option">Select image</div>
                                        </div>
                                    </div>
                                </label>
                                <div class="sol text">+ <span>0.00</span> SOL</div>
                                <div class="addOption background-settings-add"></div>
                            </div>
                            <div class="ball-settings__container">
                                <label class="active">
                                    Environments
                                    
                                    <select class="change-env hide">
                                        {% for env in envs %}
                                            <option value="{{env.url}}">{{env.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="f-select">
                                        <div class="f-select-container f-select-container__env">
                                            {% for env in envs %}
                                                {% if env.id == 1 %}
                                                <div class="f-select-option placeholder"><span>{{env.name}}</span>
                                                </div>
                                                {% endif %}
                                                <div class="f-select-option">{{env.name}}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </label>
                                <div class="sol text">+ <span>0.00</span> SOL</div>
                                <div class="addOption"></div>
                            </div>
                            <div class="ball-settings__container">
                                <label class="active">
                                    Ticker fonts
                                    <select class="change-ticker-font hide">
                                        {% for font in fonts %}
                                            <option value="{{font.url}}">{{font.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="f-select">
                                        <div class="f-select-container f-select-container__ticker-font">
                                            {% for font in fonts %}
                                                {% if font.id == 1 %}
                                                <div class="f-select-option placeholder"><span>{{font.name}}</span>
                                                </div>
                                                {% endif %}
                                                <div class="f-select-option">{{font.name}}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </label>
                                <div class="sol text">+ <span>0.00</span> SOL</div>
                                <div class="addOption"></div>
                            </div>
                            <div class="ball-settings__container">
                                <label class="active">
                                    Ticker color
                                    <select class="change-ticker-color hide">
                                        <option value="0">Default</option>
                                        <option value="1">Custom color</option>
                                    </select>
                                    <div class="f-select">
                                        <div class="f-select-container f-select-container__ticker-color">
                                            <div class="f-select-option placeholder"><span>Default</span>
                                            </div>
                                            <div class="f-select-option">Default</div>
                                            <div class="f-select-option">Custom color</div>
                                        </div>
                                    </div>
                                </label>
                                <div class="sol text">+ <span>0.00</span> SOL</div>
                                <div class="addOption change-ticker-color-add"></div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <section class="instructions">
                <h3 class="instructions__title description">Instructions for use</h3><br>
                <p class="instructions__text description">
                    Click on the ball. Hold and spin fast. After you have customized the ball according to your beauty,
                    proceed to payment.
                </p>
                <p class="instructions__text description">
                    You can switch the mode of tips and answers with a special button in the lower left corner of the
                    window with the ball
                </p>
            </section>
            <section class="mint">
                <h3 class="mint__title">
                    Great, all the parameters of your magic ball are ready.
                </h3>
                <h2 class="main__notification">Let's mint!</h2>
                <p class="mint__description description">
                    The minting price is listed below.
                </p>
                <div class="mint__sum">
                    Σ = <span>0.00</span> SOL
                </div>
                {% if mint_active %}
                <input class="mint__submit" type="submit" value="MINT">
                {% else %}
                <input class="mint__submit" disabled type="button" value="MINT">
                {% endif %}
            </section>
        </form>
        <section class="referral">
            <p style="font-size: 20px;">All Azagnat's holders have referral links, minting them is 20% cheaper and gives you back 10% of the cost.</p>

            <p class="referral__sum description">
                In total, the referral program returned: {{returned}} SOL
                <img src="{% static 'img/flower.png' %}" alt="flower">
            </p>
            <p class="main-description__text description">Jerome and his team have prepared a lot of interesting things for you. To stay up-to-date on all upcoming events, subscribe to the project's social networks.</p>
        </section>
        <section class="phrase">
            <h3 class="phrase__title description">Last random phrase&gt;</h3>
            <div class="phrase-items">
                <div class="phrase-item">
                    <img src="{% static 'img/flags/ru.png' %}" alt="flag" class="phrase-item__pic">
                    <p class="phrase-item__title text">&lt;Дамский угодник 217&gt;</p>
                    <p class="phrase-item__text text">
                        Повседневная практика показывает, что сложившаяся структура организации позволяет оценить
                        значение дальнейших направлений разв
                    </p>
                </div>
                <div class="phrase-item">
                    <img src="{% static 'img/flags/us.png' %}" alt="flag" class="phrase-item__pic">
                    <p class="phrase-item__title text">&lt;Pamella&gt;</p>
                    <p class="phrase-item__text text">
                        Nullam eu pulvinar eros, et varius arcu. Sed in pretium elit, quis porta justo. Proin.
                    </p>
                </div>
                <div class="phrase-item">
                    <img src="{% static 'img/flags/gb.png' %}" alt="flag" class="phrase-item__pic">
                    <p class="phrase-item__title text">&lt;Stive&gt;</p>
                    <p class="phrase-item__text text">
                        Mauris in nunc vitae nunc viverra pellentesque. Curabitur vitae lobortis leo. Phasellus mollis
                        tortor enim, at laoreet lectus sodales varius. Donec laoreet libe
                    </p>
                </div>
                <div class="phrase-item">
                    <img src="{% static 'img/flags/us.png' %}" alt="flag" class="phrase-item__pic">
                    <p class="phrase-item__title text">&lt;Ronald&gt;</p>
                    <p class="phrase-item__text text">
                        Nullam eu pulvinar eros, et varius arcu. Sed in pretium elit, quis porta justo. Proin.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container-footer">

            <div class="mobile-thumb__social" style="display: flex; align-items: center;">
                <div style="width: 160px; text-align: center;">
                    <p style="font-size: 24px;">Azagnat's world</p>
                    <a href="https://t.me/Azagnat_bot" target="_blank" class="mobile-thumb-about__link">
                        <img src="{% static 'img/tel.svg' %}" alt="telegram">
                    </a>
                </div>
                <div style="width: 160px; text-align: center;">
                    <p style="font-size: 24px;">Azagnat's discussion</p>
                    <a href="https://t.me/AzagnatNFT" target="_blank" class="mobile-thumb-about__link">
                        <img src="{% static 'img/tel.svg' %}" alt="telegram">
                    </a>
                </div>
                <div style="width: 160px; text-align: center;">
                    <p style="font-size: 24px;">Azagnat's news</p>
                    <a href="https://twitter.com/JeromLeprechaun" target="_blank" class="mobile-thumb-about__link">
                        <img src="{% static 'img/twt.svg' %}" alt="twitter">
                    </a>
                </div>
            </div>
            <p class="mobile-thumb-about__description description">
                Break a leg.<br><br>
                and...<br><br>
            </p>
            <div class="mobile-thumb__luck title description block_inline">
                <p>Good luck!</p>
                <img src="{% static 'img/flower.png' %}" alt="flower">
            </div>
        </div>
    </footer>
</div>
<div class="preloader">
    <div class="preloader-element">
        <div class="preloader-element__scale"></div>
    </div>
</div>

<div class="warning warning-mint hide">
    <div class="warning__content">
        <h2 class="warning__title yellow">Warning!</h2>
        <p class="warning__description description">The blacksmith is ready to mint your token!</p>
        <img class="warning-mint__img" src="" alt="screenshot">
        <p class="warning-text text">
            Further action is irreversible!<br>
            <b>
                <span>0.00</span> SOL
            </b><br>
            it will be debited from your wallet account.
            The token will appear in the wallet after a while.
        </p>
        <div class="warning__info">
            <label class="checkbox">
                <input class="checkbox" type="checkbox" name="create" id="create"/>
                <div class="checkbox__checkmark"></div>
                <div class="checkbox__body"><a href="{% url 'creating' %}" target="_blank">Conditions for creating</a>an appearance are met.</div>
              </label>
            <br>
            <label class="checkbox">
                <input class="ownership" type="checkbox" name="ownership" id="ownership"/>
                <div class="checkbox__checkmark"></div>
                <div class="checkbox__body">I agree to comply with the <a href="{% url 'ownership' %}" target="_blank">terms of ownership.</a></div>
              </label>
        </div>
        <div class="warning__button">OK! MINT</div>
    </div>
</div>

<div class="warning warning-balance hide">
    <div class="warning__content">
        <h2 class="warning__title warning__title-img">Attention!</h2>
        <p class="description">
            The blacksmith is ready to mint your<br> NFT-token!
        </p><br>
        <p class="red description">
            However, everything is missing from<br>
            <span></span> SOL<br>
            You need <span></span> SOL<br>
            and you only have <span></span> SOL
        </p><br>
        <p class="description">
            Top up your balance and come back.
        </p>

    </div>
</div>

<div class="warning warning-minted-tokens hide">
    <div class="warning__content">
        <div style="display: flex; align-items: center;">
            <h2 class="warning__title warning__title-img-wallet"></h2>
            <button type="button" onclick="disconnect()" style="border-radius: 15px; padding: 10px 40px; font-size: 16px; font-weight: 700; background-color: #09B224; border: none;;">Disconnect wallet</button>
        </div>
        <p class="warning__description description wallet-address"></p>

        
        <div style="text-align: center; display: flex;flex-direction: column; justify-content: center; font-size: 20px;">
            <p class="paid_deals"></p>
            <p class="refferal_code"></p>
            <button type="button" onclick="copyContent(this)" style="border-radius: 15px; padding: 10px 40px; font-size: 16px; font-weight: 700; background-color: #09B224; border: none;">CLIPBOARD</button>
        </div>
        <div class="warning__info"> The most you'll get from Azagnat is in the Telegram bot
            <a class="img" href="https://t.me/Azagnat_bot"><img src="{% static 'img/tel.svg' %}" alt="telegram"></a>
        </div>
    </div>
</div>

<div class="warning warning-ref-redeemed {% if is_active %} hide {% else %} {% endif %}">
    <div class="warning__content">
        <h2 class="warning__title warning__title-img">Error!</h2>
        <p class="description">
            Jerom says: this code has already<br>
            been redeemed.
        </p>
        <p class="description">
            Try your luck in the drawing, which<br>
            takes place every day in the<br>
            Telegram channel of the project.
        </p>
        <a href="https://t.me/Azagnat" target="_blank">
            <img class="warning-ref-redeemed__img" src="{% static 'img/tel.svg' %}" alt="pic">
        </a>
    </div>
</div>

<div class="warning warning-avatar-exceed hide">
    <div class="warning__content">
        <h2 class="warning__title warning__title-img">Error!</h2>
        <p class="description">
            max 300 KB<br>
            max size 512x512 px
        </p>
    </div>
</div>

<div class="warning warning-img-exceed hide">
    <div class="warning__content">
        <h2 class="warning__title warning__title-img">Error!</h2>
        <p class="description">
            max 1.5 MB<br>
            max size 2048x2048 px
        </p>
    </div>
</div>

<div class="warning warning-access-prem hide">
    <div class="warning__content">
        <h2 class="warning__title yellow">Warning!</h2>
        <p class="description">
            Access to premium parameters<br>
            is possible after connecting the wallet.
        </p>
        <img class="warning-access-prem" src="{% static 'img/WalletON.svg' %}" alt="pic">
    </div>
</div>

<div class="warning warning-req-param hide">
    <div class="warning__content">
        <h2 class="warning__title yellow">Warning!</h2>
        <p class="description">
            For a high-quality neurosensory connection, you need to fill in all <br>
            the required parameters.
        </p>
    
    </div>
</div>

<div class="warning warning-minted hide">
    <div class="warning__content">
        <h2 class="warning__title yellow">Warning!</h2>
        <p class="description">
            The blacksmith says:<br>
            Your token has been minted.
            <br><br>
            Look in your wallet.
        </p>
        <br><br>
        <img class="warning-access-prem" src="{% static 'img/wallet_off.svg' %}" alt="pic">
    </div>
</div>

<div class="warning warning-cancels hide">
    <div class="warning__content">
        <h2 class="warning__title yellow">Warning!</h2>
        <p class="description">
            Our cashier has hiccups.<br>
            <span>It cancels the transaction.</span><br>
            But he'll be back soon. Come back too.<br>
        </p>
        <p class="description thin">
            In the meantime, think about how<br>
            to make the token even more beautiful.
        </p>
    </div>
</div>

<div class="warning warning-user-cancels hide">
    <div class="warning__content">
        <h2 class="warning__title yellow">Warning!</h2>
        <p class="description">
            Jerom:<br>
            — I hope you canceled the transaction in<br>
            order to change something in the<br>
            appearance of the token, and get back to<br>
            me soon.<br>
        </p>
    </div>
</div>

<div class="mobile-thumb hide">
    <h2 class="mobile-thumb__title">Hello stranger!</h2>
    <p class="mobile-thumb__description_Left description">
        Let me tell you about the most unique, amazing creation in the world of WEB 3.0 and NFT. This is an interactive and immersive non-fungible Magic Ball — Azagnat!
    </p>
    <p class="mobile-thumb__description_Left description">
        And I am its creator, my name is Jerome, and I am a leprechaun.
    </p>

    <p class="mobile-thumb__description_Left description">
        Let's get to know each other!
    </p>

    <p class="mobile-thumb__description_Left description">
        I live in Ireland. I'm over 700 years old. And I used to be a dwarf, no different from my tribesmen. I worked very hard. In our mines, I was a mineral scientist. And then one day my wife left me. Then I was very much upset, worried, started smoking a lot, drinking strong drinks, addicted to poitín. I was promiscuous. All this ended when one of my former lab assistants brought me samples of a very strange breed. And I went back to work. After the most complicated experiments and research, it turned out that this rock is older than the world. It is simultaneously in all meta-universes, and somehow is able to mentally connect with the one who possesses this breed. This is how my Azagnat was born. He connects with my consciousness, and if I ask him a question, he will gather information from all meta-universes and give the best, most correct and appropriate answer for the time. And he can also say something at any moment that he thinks is best suited to that moment.
    </p>

    <p class="mobile-thumb__description_Left description">
        More and more I am convinced that my Azagnat has a consciousness of his own!
    </p>

    <p class="mobile-thumb__description_Left description">
        You too can become the owner of a totally unique Magic Ball.
    </p>

    <p class="mobile-thumb__description_Left description">
        Except that forging Magic Balls is a very complicated and high-tech process. It can only be done in a special place. Remember this!
    </p>

    <div class="mobile-thumb-warning">
        <h2 class="mobile-thumb-warning__title">Attention!</h2>
        <p class="description">
            Due to the peculiarities of the token, customization and minting is possible only in a desktop browser.<br>
            I strongly recommend that you use the Chrome browser.
        </p>
    </div>
    <p class="mobile-thumb-example__description description">
        While you're here, I'll show you an<br> example of a token:
    </p>
    <div class="mobile-thumb-example-container">
        <iframe class="mobile-thumb-example-container__item" src="https://arweave.net/I_q7d34rZsDKTfz4Gqwa78F4XbMm024_fuEfdHcSAc0"></iframe>
    </div>
    <h2 class="mobile-thumb-about__title">Instructions for use</h2>
    <p class="mobile-thumb-example__description description">
        Click on the ball. Hold and spin fast. 
    </p>
    <p class="mobile-thumb-example__description description">
        You can switch the mode of tips and answers with a special button in the lower left corner of the window with the ball.
    </p>
    <p class="mobile-thumb-example__description description_bold">
        We've created 10 legendary NFTs for you to see the full potential.
    </p>
    <div class="NFT__slider _swiper">
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_1.png' %}" alt="">
        </div>
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_2.png' %}" alt="">
        </div>
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_3.png' %}" alt="">
        </div>
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_4.png' %}" alt="">
        </div>
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_5.png' %}" alt="">
        </div>
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_6.png' %}" alt="">
        </div>
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_7.png' %}" alt="">
        </div>
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_8.png' %}" alt="">
        </div>
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_9.png' %}" alt="">
        </div>
        <div class="NFT_item">
            <img src="{% static 'img/NFT_item_10.png' %}" alt="">
        </div>
    </div>
    <div class="NFT__dotts slider_dots"></div>

    <h2 class="mobile-thumb-about__title">Learn more about the project</h2>

    <p class="mobile-thumb-about__description description">
        Subscribe to our social networks. 
        The token that will change the NFT world is in front of you.
    </p>
    <div class="mobile-thumb__social">
        <div style="width: 160px; text-align: center;">
            <p style="font-size: 24px;">Azagnat's world</p>
            <a href="https://t.me/Azagnat_bot" target="_blank" class="mobile-thumb-about__link">
                <img src="{% static 'img/tel.svg' %}" alt="telegram">
            </a>
        </div>
        <div style="width: 160px; text-align: center;">
            <p style="font-size: 24px;">Azagnat's discussion</p>
            <a href="https://t.me/AzagnatNFT" target="_blank" class="mobile-thumb-about__link">
                <img src="{% static 'img/tel.svg' %}" alt="telegram">
            </a>
        </div>
        <div style="width: 160px; text-align: center;">
            <p style="font-size: 24px;">Azagnat's news</p>
            <a href="https://twitter.com/JeromLeprechaun" target="_blank" class="mobile-thumb-about__link">
                <img src="{% static 'img/twt.svg' %}" alt="twitter">
            </a>
        </div>
    </div>

    <p class="mobile-thumb-about__description description">
        Break a leg.
        <br>
        <br>
        and...
    </p>
    <p class="mobile-thumb__luck">
        Good luck!<br>
        <img src="{% static 'img/flower.png' %}" alt="flower">
    </p>


</div>


<template id="ref_template">
    <div class="warning-minted-tokens-token">
        <img src="{% static 'img/screenThumb.png' %}" alt="pic" class="warning-minted-tokens-token__img">
        <div class="token-content">
            <h3 class="token-content__title">AZAGNAT <span>#7518</span></h3>
            <p class="token-content__cost description">Cost: <span>1.63</span> SOL</p>
            <div class="token-content__links">
                <p class="token-content__links__title description">View in:</p>
                <a href="!#" target="_blank"><img src="{% static 'img/new_window.svg' %}" alt="link"></a>
                <a href="!#" target="_blank"><img src="{% static 'img/solana.svg' %}" alt="link"></a>
                <a href="!#" target="_blank"><img src="{% static 'img/solscan.svg' %}" alt="link"></a>
            </div>
        </div>
    </div>
</template>

<script src="https://unpkg.com/@solana/web3.js@1.29.2/lib/index.iife.min.js"></script>
<script src="{% static 'assets/wallet.js' %}"></script>
<script>
    const copyContent = async (e) => {
      try {
        await navigator.clipboard.writeText(e.previousElementSibling.innerHTML);
        e.textContent = "COPIED"
        setTimeout(() => {
            e.textContent = "CLIPBOARD"
        }, 500);
        console.log('Content copied to clipboard');
      } catch (err) {
        console.error('Failed to copy: ', err);
      }
    }
</script>
</body>
</html>