{% load static %}
<!doctype html>
<html lang="ru-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magic Ball</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{% static 'assets/main.689c397b.css' %}">
</head>
<body>
  <div class="ownership">
    <div class="ownership_content">
      <h1>Terms of ownership</h1>
      <p>
        Each holder of an Azagnath token agrees to abide by the following rules:
      </p>
      <ul>
        <li>Be respectful to all members of the community.</li>
      <li>Use profanity only in the most extreme cases.</li>
      <li>Do not insult members of the community, even if they do not have Azagnath.</li>
      <li>Do not provoke or incite national, ethnic, or gender differences.</li>
      <li>Keep opinions to themselves on the topic until asked.</li>
    </ul>
    <div class="clemo">No bullshit</div>
  </div>
  
  </div>
  
</body>
</html>